.navbar{
    background-color: rgb(245, 217, 78);
    color: aliceblue;

}
.quem-somos{
    background-color: rgb(97, 99, 161);
    color: aliceblue;
}
.margin{
    margin-top: 30px;
    padding-bottom: 10px;

}
.bg-futer{
    background-color: black;
}
.parceiros{
    background-color: darkred;
}